<footer>
    <div>
        &copy; 2023 - CA
         {{#if isLoggedIn}}
                    <div>
                        Hello, welcome back {{name}}! &nbsp; &nbsp;
                    </div>
                {{/if}}
    </div>
</footer>