<div id="wholePage" class="container">
    <div class="columns">
        <div id="left" class="column col-3 col-md-12">
            <header>
                <h1>My CV</h1>
                <img src="img/MyImage.jpg" alt="My Image" width="200" height="200">
                <h2>Cameron Alexander</h2>
                <p>68 Stakes Road - Waterlooville</p>
                <p><img id="profile" src="img/phone.png" width="12px" height="12px"></img>0707070707</p>
            </header>
        </div>
        <body>
            <div id="main" class="column col-9 col-md-12">
                <div class="column col-6 col-md-12">
                    <div class="accordion">
                        <input id="accordion-1" type="radio" name="accordion-radio"
                        hidden="" checked="">
                        <label class="accordion-header c-hand" for="accordion-1">
                        <i class="icon icon-arrow-right mr-1"></i>Education</label>
                        <div class="accordion-body">
                            <section>
                                <h2>Education</h2>
                                <div>
                                    <ul>
                                        <li>2025 Computer Science BSC honours</li>
                                        <li>2024 Exchange Program - Jonkoping</li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="accordion">
                        <input id="accordion-2" type="radio" name="accordion-radio"
                        hidden="">
                        <label class="accordion-header c-hand" for="accordion-2">
                        <i class="icon icon-arrow-right mr-1"></i>Work</label>
                        <div class="accordion-body">
                            <section>
                                <h2>Work Experience</h2>
                                <div>
                                    <ul>
                                        <li>Morrisons - Customer Assistant</li>
                                        <li>KFC - Team Member</li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="accordion">
                        <input id="accordion-3" type="radio" name="accordion-radio"
                        hidden="">
                        <label class="accordion-header c-hand" for="accordion-3">
                        <i class="icon icon-arrow-right mr-1"></i>Computer Skills</label>
                        <div class="accordion-body">
                            <section>
                                <h2>Computer Skills</h2>
                                <div>
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Java</li>
                                        <li>JavaScript</li>
                                        <li>WinUI</li>
                                        <li>Python</li>
                                        <li>SQL</li>
                                        <li>Building PC</li>
                                        <li>Networking</li>
                                        <li>C#</li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                    
                    <div class="accordion">
                        <input id="accordion-4" type="radio" name="accordion-radio"
                        hidden="">
                        <label class="accordion-header c-hand" for="accordion-4">
                        <i class="icon icon-arrow-right mr-1"></i>Languages</label>
                        <div class="accordion-body">
                            <section>
                                <h2>Languages</h2>
                                <div>
                                    <p>Native language is English but learning Swedish at the moment and know a little Spanish</p>
                                </div>
                            </section>
                        </div>
                    </div>
                        
                    <div class="accordion">
                        <input id="accordion-5" type="radio" name="accordion-radio"
                        hidden="">
                        <label class="accordion-header c-hand" for="accordion-5">
                        <i class="icon icon-arrow-right mr-1"></i>Hobbies</label>
                        <div class="accordion-body">
                            <section>
                                <h2>Hobbies</h2>
                                <div>
                                    <ul>
                                        <li>Football</li>
                                        <li>Tennis</li>
                                        <li>Formula 1</li>
                                        <li>Going out with Friends</li>
                                        <li>Working Out</li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </div>
</div>