<section id="blog">

    <div class="blog-heading">
        <h3>Cameron Alexander</h3>
        <span>My CV</span>
        <br />
        <img src="/img/MyImage.jpg" alt="">
    </div> 
</section>

<div class="container">
    <div class="section">
        <div class="section-title">
            Summary
        </div>
        <div class="section-content">
            <p>A brief summary of your background, skills, and career objectives.</p>
        </div>
    </div>
</div>

<section id="blog">
    <div class="blog-container">  

        <div class="blog-box">
            <div class="blog-img">
                <img src="/img/infoicon.png" alt="blog">
            </div>

            <div class="blog-text">
                <span></span>
                <a class="blog-title">Information</a>
                <p>Email: caal23tw@student.ju.se <br/>Phone: 0707070707 <br/>Address: Kärrhöksgatan 100</p>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="/img/eduicon.png" alt="blog">
            </div>

            <div class="blog-text">
                <span></span>
                <a class="blog-title">Education</a>
                <p>2020-2025 - University of Portsmouth
                    2023-2024 - Jonkoping University
                    2018-2020 - Havant South Downs C
                    2013-2018 - Oaklands Catholic School
                </p>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="/img/workicon.png" alt="blog">
            </div>

            <div class="blog-text">
                <span></span>
                <a class="blog-title">Work Experience</a>
                <p>2018 - 1 week: SSE ENERGY </br>
                    2019 - 1 week: SSE ENERGY <br>
                    2019-2023 Morrisons
                </p>
            </div>
        </div>

        {{#if isAdmin}}
        <div class="blog-box">
            <a href="/home/new">
                <div class="blog-img">
                    <img src="/img/plusicon.png" alt="blog">
                </div>
            </a>

            <div class="blog-text">
                <a class="blog-title-new" href="/home/new">Add a new CV</a>
            </div>
        </div>
        {{/if}}

    </div>
</section>
