<section id="blog">

    <div class="blog-heading">
        <h3>Cameron Alexander</h3>
        <span>My CV</span>
        <br />
        <img src="/img/MyImage.jpg" alt="">
    </div> 
</section>

<div class="container">
    <div class="section">
        <div class="section-title">
            Summary
        </div>
        <div class="section-content">
            <p>A brief summary of your background, skills, and career objectives.</p>
        </div>
    </div>
</div>

<section id="blog">
    <div class="blog-container">  

        <div class="blog-box">
            <div class="blog-img">
                <img src="/img/infoicon.png" alt="blog">
            </div>

            <div class="blog-text">
                <span></span>
                <a class="blog-title">Information</a>
                <p>Email: caal23tw@student.ju.se <br/>Phone: 0707070707 <br/>LinkedIn: linkedin.com/in/</p>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="/img/eduicon.png" alt="blog">
            </div>

            <div class="blog-text">
                <span></span>
                <a class="blog-title">Education</a>
                <p></p>
            </div>
        </div>

         <div class="blog-box">
            <div class="blog-img">
                <img src="/img/workicon.png" alt="blog">
            </div>

            <div class="blog-text">
                <span></span>
                <a class="blog-title">Work Experience</a>
                <p></p>
            </div>
        </div>

    </div>
</section>
