<div class="main">
  <div class="contact-in">
    <div class="contact-form">
      <h1>Additional Blog!</h1>
      <form action="/blogs/new" method="post">
        <input type="text" placeholder="Title" name="blogtitle" id="blogtitle" class="contact-form-txt"/>
        <input type="text" placeholder="Image URL" name="blogimg" id="blogimg" class="contact-form-txt"/>
        <input type="text" placeholder="Date" name="blogdate" id="blogdate" class="contact-form-txt"/>
        <textarea placeholder="Description" name="blogdesc" id="blogdesc" class="contact-form-txtarea"></textarea>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
</div>