<div class="main">
  <div class="contact-in">
    <div class="contact-form">
      <h1>Additional CV</h1>
      <form action="/home/new" method="post">
        <input type="text" placeholder="Title" name="cvtitle" id="cvtitle" class="contact-form-txt"/>
        <input type="text" placeholder="Image URL" name="cvimage" id="cvimage" class="contact-form-txt"/>
        <textarea placeholder="Description" name="cvdesc" id="cvdesc" class="contact-form-txtarea"></textarea>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
</div>