<div id="main">
    <div>
        <h1>New Project</h1>
        </div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/home/new" method="post">
                                               <fieldset>
                            <label for="cvtitle">CV Title: </label>
                            <input type="text" name="cvtitle" id="cvtitle" required="required">
                            <br />
                            <label for="cvimage">CV image URL: </label>
                            <input type="text" name="cvimage" id="cvimage" required="required">
                            <br />
                            <label for="cvdesc">CV Description: </label>
                            <textarea name="cvdesc" id="cvdesc" cols="30" rows="10" required="required"></textarea>
                            <br />
                        </fieldset>
                        <input type="submit" value="Add CV">
                    </form>
                {{else}}
                    <p>Sorry, you must be an administrator to add a new project!</p>
                {{/if}}
            {{else}}
                <p>
                    Sorry, you must be logged in to add a new project!<br />
                    Please go to the <a href="/login">Login</a> page.
                </p>
            {{/if}}
        </div>
    </div>
</div>