* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: #e8ecfd;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    text-align: center;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.blog-imgnew {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-imgnew img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

/* ------------------------------- */
/* THIS IS FOR THE MENU NAVIGATION */
/* ------------------------------- */

.navbar {
    font-family: 'Times New Roman', Times, serif;
    background:#4139ea ;
    height: 110px;
    width: 100%;
}

label.logo {
    color: #e8ecfd;;
    font-size: 35px;
    line-height: 110px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a {
    color: #e8ecfd;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover{
    background: #9b14bd;
    transition: .5s;
} 

.checkbtn {
    font-size: 40px;
    color: white;
    float: right; /* Change from float: left; to float: right; */
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

li.admin {
    color: yellow;
}

@media (max-width: 958px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
}

@media (max-width: 885px) {
    .checkbtn {
        display: block;
    }
    
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #26218f;
        top: 80px;
        right: -110%;
        text-align: center;
        transition: all .5s;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a {
        font-size: 20px;
    }

    .navbar a:hover, a:active {
        background: none;
        color: #9b14bd;
    }

    #check:checked ~ ul {
        right: -20px;
    }
}

/* ------------------------------- */
/*      THIS IS FOR THE FOOTER     */
/* ------------------------------- */

footer {
    /* position: absolute; */
    bottom: 0;
    padding: 8px;
    list-style-type: none;
    overflow: hidden;
    background-color: #e6a7f6;
    color: #03081c;;
    height: 80px;
    width: 100vw;
}

footer div {
    text-align: center;
    padding-top: 8px;
}