* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {

    background: #2b2203;
}

.main {
    width: 100%;
    height: 80vh;
    display: grid;
    align-items: center;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #edba12;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 10px;
    color: #fcf2d4;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #a17e0c;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background: #2b2203;
}

/* ------------------------------- */
/* THIS IS FOR THE MENU NAVIGATION */
/* ------------------------------- */

.navbar {
    font-family: 'Times New Roman', Times, serif;
    background:#a17e0c ;
    height: 110px;
    width: 100%;
}

label.logo {
    color: #fcf2d4;
    font-size: 35px;
    line-height: 110px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a {
    color: #fcf2d4;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover{
    background: #edba12;
    transition: .5s;
} 

/* ------------------------------- */
/*      THIS IS FOR THE FOOTER     */
/* ------------------------------- */

footer {
    /* position: absolute; */
    bottom: 0;
    padding: 8px;
    list-style-type: none;
    overflow: hidden;
    background-color: #edba12;
    color: white;
    height: 80px;
    width: 100vw;
    margin-top: 50px;
}

footer div {
    text-align: center;
    padding-top: 8px;
}
