* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #e8ecfd;
}

.main {
    width: 100%;
    height: 80vh;
    display: grid;
    align-items: center;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 10px;
    color: black;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #4139ea;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background: black;
}

/* ------------------------------- */
/* THIS IS FOR THE MENU NAVIGATION */
/* ------------------------------- */

.navbar {
    font-family: 'Times New Roman', Times, serif;
    background:#4139ea ;
    height: 110px;
    width: 100%;
}

label.logo {
    color: #e8ecfd;;
    font-size: 35px;
    line-height: 110px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a {
    color: #e8ecfd;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover{
    background: #9b14bd;
    transition: .5s;
} 

.checkbtn {
    font-size: 40px;
    color: white;
    float: right; /* Change from float: left; to float: right; */
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 950px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }
    
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #26218f;
        top: 80px;
        right: -110%;
        text-align: center;
        transition: all .5s;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a {
        font-size: 20px;
    }

    .navbar a:hover, a:active {
        background: none;
        color: #9b14bd;
    }

    #check:checked ~ ul {
        right: -20px;
    }
}

/* ------------------------------- */
/*      THIS IS FOR THE FOOTER     */
/* ------------------------------- */

footer {
    /* position: absolute; */
    bottom: 0;
    padding: 8px;
    list-style-type: none;
    overflow: hidden;
    background-color: #e6a7f6;
    color: #03081c;;
    height: 80px;
    width: 100vw;
}

footer div {
    text-align: center;
    padding-top: 8px;
}