* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-image: url("/img/backgroundLogin.jpeg");
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 420px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 0;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #03081c;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* ------------------------------- */
/* THIS IS FOR THE MENU NAVIGATION */
/* ------------------------------- */

.navbar {
    font-family: 'Times New Roman', Times, serif;
    background:#4139ea ;
    height: 110px;
    width: 100%;
    z-index: 1;
}

label.logo {
    color: #e8ecfd;;
    font-size: 35px;
    line-height: 110px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
    z-index: 1;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a {
    color: #e8ecfd;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover{
    background: #9b14bd;
    transition: .5s;
} 

.checkbtn {
    font-size: 40px;
    color: white;
    float: right; /* Change from float: left; to float: right; */
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

li.admin {
    color: yellow;
}

@media (max-width: 958px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
}

@media (max-width: 885px) {
    .checkbtn {
        display: block;
    }
    
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #26218f;
        top: 80px;
        right: -110%;
        text-align: center;
        transition: all .5s;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a {
        font-size: 20px;
    }

    .navbar a:hover, a:active {
        background: none;
        color: #9b14bd;
    }

    #check:checked ~ ul {
        right: -20px;
    }

}

/* ------------------------------- */
/*      THIS IS FOR THE FOOTER     */
/* ------------------------------- */

footer {
    position: absolute;
    bottom: 0;
    padding: 8px;
    list-style-type: none;
    overflow: hidden;
    background-color: #e6a7f6;
    color: #03081c;;
    height: 80px;
    width: 100vw;
}

footer div {
    text-align: center;
    padding-top: 8px;
}